In [12]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [13]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pevek,RU,2022-01-18 23:33:19,69.7008,170.3133,-33.79,96,75,3.67
1,1,Bluff,NZ,2022-01-18 23:33:20,-46.6000,168.3333,58.80,74,97,15.10
2,2,Esperance,AU,2022-01-18 23:33:21,-33.8667,121.9000,66.04,59,5,15.50
3,3,Hede,CN,2022-01-18 23:33:21,33.7681,120.2517,36.99,82,11,1.16
4,4,Cape Town,ZA,2022-01-18 23:33:22,-33.9258,18.4232,65.08,70,20,1.01

In [14]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [15]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
# HEATMAP SYNTAX

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

In [16]:
# Get the maximum temperature. Can be done by list comprehension as seen below
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [30]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Center and Zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [35]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Avarua,CK,2022-01-18 23:29:12,-21.2078,-159.7750,78.85,83,100,21.85
9,9,Mogadishu,SO,2022-01-18 23:31:32,2.0371,45.3438,76.96,78,97,17.27
11,11,Faanui,PF,2022-01-18 23:33:27,-16.4833,-151.7500,75.76,89,100,22.35
15,15,Atuona,PF,2022-01-18 23:33:29,-9.8000,-139.0333,78.58,76,45,19.55
16,16,Hilo,US,2022-01-18 23:29:12,19.7297,-155.0900,80.80,76,100,13.80
19,19,Singaraja,ID,2022-01-18 23:33:32,-8.1120,115.0882,79.97,81,100,2.89
22,22,Ambulu,ID,2022-01-18 23:33:35,-8.3450,113.6058,76.62,85,100,2.13
27,27,San Andres,CO,2022-01-18 23:33:38,12.5847,-81.7006,82.42,69,40,12.66
31,31,Rikitea,PF,2022-01-18 23:33:41,-23.1203,-134.9692,78.15,78,99,14.20
33,33,Dingle,PH,2022-01-18 23:33:42,10.9995,122.6711,75.49,91,98,8.23

In [36]:
preferred_cities_df.count()

City_ID       150
City          150
Country       150
Date          150
Lat           150
Lng           150
Max Temp      150
Humidity      150
Cloudiness    150
Wind Speed    150
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
5       Avarua      CK     78.85 -21.2078 -159.7750
9    Mogadishu      SO     76.96   2.0371   45.3438
11      Faanui      PF     75.76 -16.4833 -151.7500
15      Atuona      PF     78.58  -9.8000 -139.0333
16        Hilo      US     80.80  19.7297 -155.0900
19   Singaraja      ID     79.97  -8.1120  115.0882
22      Ambulu      ID     76.62  -8.3450  113.6058
27  San Andres      CO     82.42  12.5847  -81.7006
31     Rikitea      PF     78.15 -23.1203 -134.9692
33      Dingle      PH     75.49  10.9995  122.6711

In [43]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
9,Mogadishu,SO,76.96,2.0371,45.3438,Hotel Juba
11,Faanui,PF,75.76,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
15,Atuona,PF,78.58,-9.8000,-139.0333,Villa Enata
16,Hilo,US,80.80,19.7297,-155.0900,Hilo Hawaiian Hotel
19,Singaraja,ID,79.97,-8.1120,115.0882,Puri Bagus Lovina Resort
22,Ambulu,ID,76.62,-8.3450,113.6058,Hotel Ambulu Jember
27,San Andres,CO,82.42,12.5847,-81.7006,Hotel Arena Blanca
31,Rikitea,PF,78.15,-23.1203,-134.9692,People ThankYou
33,Dingle,PH,75.49,10.9995,122.6711,SEGAYA PROPERTY

In [45]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [47]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))